
<%@ page import="patrimonio.BensdeConsumo" %>
<!DOCTYPE html>
<html>
	<head>
		<meta name="layout" content="main">
		<g:set var="entityName" value="${message(code: 'bensdeConsumo.label', default: 'BensdeConsumo')}" />
		<title><g:message code="default.show.label" args="[entityName]" /></title>
	</head>
	<body>
		<a href="#show-bensdeConsumo" class="skip" tabindex="-1"><g:message code="default.link.skip.label" default="Skip to content&hellip;"/></a>
		<div class="nav" role="navigation">
			<ul>
				<li><a class="home" href="${createLink(uri: '/')}"><g:message code="default.home.label"/></a></li>
				<li><g:link class="list" action="index"><g:message code="default.list.label" args="[entityName]" /></g:link></li>
				<li><g:link class="create" action="create"><g:message code="default.new.label" args="[entityName]" /></g:link></li>
			</ul>
		</div>
		<div id="show-bensdeConsumo" class="content scaffold-show" role="main">
			<h1><g:message code="default.show.label" args="[entityName]" /></h1>
			<g:if test="${flash.message}">
			<div class="message" role="status">${flash.message}</div>
			</g:if>
			<ol class="property-list bensdeConsumo">
			
				<g:if test="${bensdeConsumoInstance?.descricao}">
				<li class="fieldcontain">
					<span id="descricao-label" class="property-label"><g:message code="bensdeConsumo.descricao.label" default="Descricao" /></span>
					
						<span class="property-value" aria-labelledby="descricao-label"><g:fieldValue bean="${bensdeConsumoInstance}" field="descricao"/></span>
					
				</li>
				</g:if>
			
				<g:if test="${bensdeConsumoInstance?.foto}">
				<li class="fieldcontain">
					<span id="foto-label" class="property-label"><g:message code="bensdeConsumo.foto.label" default="Foto" /></span>
					
						<span class="property-value" aria-labelledby="foto-label"><g:fieldValue bean="${bensdeConsumoInstance}" field="foto"/></span>
					
				</li>
				</g:if>
			
				<g:if test="${bensdeConsumoInstance?.quantidade}">
				<li class="fieldcontain">
					<span id="quantidade-label" class="property-label"><g:message code="bensdeConsumo.quantidade.label" default="Quantidade" /></span>
					
						<span class="property-value" aria-labelledby="quantidade-label"><g:fieldValue bean="${bensdeConsumoInstance}" field="quantidade"/></span>
					
				</li>
				</g:if>
			
				<g:if test="${bensdeConsumoInstance?.tombamento_bc}">
				<li class="fieldcontain">
					<span id="tombamento_bc-label" class="property-label"><g:message code="bensdeConsumo.tombamento_bc.label" default="Tombamentobc" /></span>
					
						<span class="property-value" aria-labelledby="tombamento_bc-label"><g:fieldValue bean="${bensdeConsumoInstance}" field="tombamento_bc"/></span>
					
				</li>
				</g:if>
			
			</ol>
			<g:form url="[resource:bensdeConsumoInstance, action:'delete']" method="DELETE">
				<fieldset class="buttons">
					<g:link class="edit" action="edit" resource="${bensdeConsumoInstance}"><g:message code="default.button.edit.label" default="Edit" /></g:link>
					<g:actionSubmit class="delete" action="delete" value="${message(code: 'default.button.delete.label', default: 'Delete')}" onclick="return confirm('${message(code: 'default.button.delete.confirm.message', default: 'Are you sure?')}');" />
				</fieldset>
			</g:form>
		</div>
	</body>
</html>
